body {
    background-image: linear-gradient(to right, #6D9886, #6eb454);
    font-family: 'Tenor Sans';
}

#title {
    text-align: center;
    font-size: 8vh;
}

#description {
    text-align: center;
    font-size: 2.5vh;
}


#survey-form {
    display: block;
    color: #F2E7D5;
    font-size: 1.2em;
    background-color: #393E46;
    padding: 2em;
    width: fit-content;
    margin: auto;
    border-radius: 2%;
}

#survey-form div {
    display: block;
    padding: 0.7em;
}

#name, #email, #number {
    display: inline-block;
    border: none;
    background-color: #F2E7D5;
    margin-left: 1em;
    font-size: 0.8em;
    padding: 0.3em;
}

select {
    display: block;
    background-color: #F2E7D5;
    border: none;
    block-size: auto;
    padding: 0.4em;
    width: 15vw;
    font-size: 0.8em;
}

select:hover {
    cursor: pointer;
}

#suggestions {
    display: block;
    width: 100%;
    height: 15vh;
    background-color: #F2E7D5;
    border: none;
    font-size: 1em;
    padding: 0.2em;
}

#submit {
    display: block;
    padding: 0.5em 0.4em;
    font-size: 0.8em;
    border: none;
    margin: auto;
}

#submit:hover {
    background-color: #25292e;
    cursor: pointer;
    color: #F2E7D5;
}

