body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.771);
    color: rgba(22, 22, 0, 0.885);
}

#header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    justify-content: space-between;
}

#header-img {
    width: 80px;
    height: 80px;
}

#nav-bar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-content: center;
}

#nav-bar li {
    display: block;
    padding: 0.5em 1em;
}

#nav-bar a {
    text-decoration: none;
    font-size: 18px;
}

#main-content {
    margin-top: 100px;
    display: block;
}

#main-content header {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}

#main-content p {
    padding: 0em 2em;
    text-align: justify;
    line-height: 3vh;
}

#video {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 350px;
}

.col-1, .col-2, .col-3 {
    list-style-type: none;
}

#specs li {
    margin-bottom: 10px;
}

#specs ul {
    padding: 1em;
}

#specs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#form {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#email {
    display: block;
    margin: 10px auto 0px auto;
    height: 25px;
    width: 200px;
    padding: 0.3em;
}

#submit {
    display: block;
    margin: 0 auto;
    height: 25px;
    width: 100px;
}

@media only screen and (max-width: 760px) 
{
    #specs {
        flex-direction: column;
    }
}